<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2><%= chatroom.name %></h2>

    <ul style="list-style-type: none">
        <% for (const message of messages) { %>
          <li class="messages-item">
            <%= message.text %>
            <%= message.author %>
            <%= message.cts.split(" ")[1] %>
            <a href="/delete-message/<%= message.id%>">Delete</a>
          </li>
          <% } %>
      </ul>

      <form action="/create-message" method="post"">
        <input type="text" name="text">
        <input type="hidden" name="chatroomId" value="<%= chatroom.id %>" />
        <button type="submit">Send</button>
      </form>

</body>
</html>