<%- include("_header") %>

    

    <ul style="list-style-type: none">
        <% for (const chatroom of chatrooms) { %>
          <li class="chatrooms-item">
            <%= chatroom.id %>
            <%= chatroom.name %>
            <%= chatroom.authorId %>
            <a href="/get-chatroom/<%=chatroom.id%>">Join</a>
            <a href="/delete-chatroom/<%=chatroom.id%>">Delete</a>
          </li>
          <% } %>
      </ul>

      <form action="/create-chatroom" method="post">
        <input type="text" name="name">
        <input type="password" name="password">
        <button type="submit">Create</button>
      </form>


      <% if (user) { %>
        <%= user.username %>
        <a href="/logout">Log out</a>
    


        <div id="login-register">
          <% } else { %>
            <a href="/register">Registrace</a>
            <a href="/login">Login</a>
            <% } %>
        </div>
        
<%- include("_footer") %>