<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul style="list-style-type: none">
        <% for (const message of messages) { %>
          <li class="messages-item">
            <%= message.text %>
            <%= message.authorId %>
          </li>
          <% } %>
      </ul>

    <ul style="list-style-type: none">
        <% for (const chatroom of chatrooms) { %>
          <li class="chatrooms-item">
            <%= chatroom.id %>
            <%= chatroom.name %>
            <%= chatroom.authorId %>
            <a href="/get-chatroom/<%=chatroom.id%>">Join</a>
            <a href="/delete-chatroom/<%=chatroom.id%>">Delete</a>
          </li>
          <% } %>
      </ul>

      <form action="/create-chatroom" method="post">
        <input type="text" name="name">
        <input type="password" name="password">
        <button type="submit">Create</button>
      </form>


      <% if (user) { %>
        <%= user.username %>
        <a href="/logout">Odhlásit se</a>
    


        <div id="login-register">
          <% } else { %>
            <a href="/register">Registrace</a>
            <a href="/login">Login</a>
            <% } %>
        </div>
        
</body>
</html>